
<nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <div class="logo"></div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-submenu nzTitle="Bookings"   nzIcon="user">
          <ul>
            <!-- <li nz-menu-item>New</li>
            <li nz-menu-item>Bill</li>
            <li nz-menu-item>Alex</li> -->
          </ul>
        </li>
          <li nz-submenu nzTitle="User Management" nzIcon="team">
          <ul>
            <li (click)="routetoUser()" nz-menu-item >User</li>
            <li nz-menu-item>Group</li>

            <li nz-menu-item>Role</li>
                    </ul>
        </li> 
        <!-- <li nz-menu-item>
          <i nz-icon nzType="file"></i>
          <span>File</span>
        </li> --> 
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <i
          class="trigger"
          nz-icon
          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          (click)="isCollapsed = !isCollapsed"
        ></i>
      </nz-header>
      <nz-content>
        <nz-breadcrumb>
            <button nz-button nzType="primary" (click)="routetoAddUser()">Add</button>
          <!-- <nz-breadcrumb-item>User</nz-breadcrumb-item>
          <nz-breadcrumb-item>Bill</nz-breadcrumb-item> -->
        </nz-breadcrumb>
        <div class="inner-content">
           <nz-table
#rowSelectionTable
nzShowSizeChanger
[nzData]="listOfAllData"
(nzCurrentPageDataChange)="currentPageDataChange($event)"
>
<thead>
  <tr>
    <th
      nzShowCheckbox
      nzShowRowSelection
      [nzSelections]="listOfSelection"
      [(nzChecked)]="isAllDisplayDataChecked"
      [nzIndeterminate]="isIndeterminate"
      (nzCheckedChange)="checkAll($event)"
    ></th>
    <th>Name</th>
    <th>Age</th>
    <th>Address</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let data of rowSelectionTable.data">
    <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" (nzCheckedChange)="refreshStatus()"></td>
    <td>{{ data.name }}</td>
    <td>{{ data.age }}</td>
    <td>{{ data.address }}</td>
  </tr>
</tbody>
</nz-table>
        </div>
      </nz-content>
      <nz-footer>Ant Design ©2019 Implement By Angular</nz-footer>
    </nz-layout>
  </nz-layout>
